@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap');

:root {
    --primary: #0065FC;
    --primary-light: #DEEBFF;
    --secondary: #F2F2F2;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 55px;
}

a {
    text-decoration: none;
    color: #000;
}

/* UTILITY */
.grey-color {
    color: lightgrey;
}

.bold {
    font-weight: bold;
}

/* DESKTOP */
/* MAIN HEADER */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__logo figure {
    margin: 0 4px;
    width: 90px;
    height: 36px;
}

.main-nav__logo img {
    width: 100%;
}

.main-nav__nav-items {
    display: flex;
    list-style: none;
    margin: 0;
}

.main-nav__nav-items li {
    padding: 50px 40px;
}

.main-nav__nav-items li:hover {
    border-top: 3px solid var(--primary);
}

.main-nav__nav-items li:hover a {
    color: var(--primary);
}

/* FIRST SECTION */
.filters h1 {
    font-size: 22px;
}

.filters header p {
    font-size: 16px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 50px;
    align-items: center;
}

.search-form span,
.search-form input {
    height: inherit;
}

.search-form span {
    width: 51px;
    text-align: center;
    background: var(--secondary);
    border-radius: 15px 0 0 15px;
}

.search-form span i {
    height: 100%;
    position: relative;
    z-index: 1;
    font-size: 20px;
    top: calc(50% - 10px);
}

.search-form input[type="text"] {
    width: 285px;
    height: 43px;
    border: none;
}

.search-form input[type="text"]::placeholder {
    font-weight: bold;
    color: #000;
    font-size: 19px;
    padding-left: 20px;
}

.search-form .btn-desktop {
    color: white;
    font-weight: bold;
    background: var(--primary);
    border-radius: 0 15px 15px 0;
    padding: 0 16px;
    border: none;
    padding: 16px;
    font-size: 18px;
}

.search-form .btn-responsive {
    display: none;
}

.filter-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: baseline;
    font-size: 18px;
}

.filter-container ul li:first-child {
    margin-right: 28px;
    margin-left: 8px;
}

.filter-container ul li:not(:first-child) {
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 0 28px 0 0;
    padding: 0 22px 0 0;
    font-weight: bold;
}

.filter-container ul li:not(:first-child):hover {
    background: var(--primary);
    color: white;
}

.filter-container ul li:not(:first-child):hover a {
    color: white;
}

.filter-container ul li:not(:first-child) i {
    border-radius: 25px;
    padding: 15px;
    margin-right: 14px;
    color: var(--primary);
    background: var(--primary-light);
}

.search-info {
    display: flex;
    align-items: baseline;
}

.search-info i {
    position: relative;
    bottom: 2px;
    padding: 4px 10px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    color: var(--primary);
    font-size: 12px;
}

.search-info p {
    margin-left: 16px;
    font-size: 16px;
}

/* SECOND SECTION */
#accomodation-container {
    display: flex;
    justify-content: space-between;
}

#accomodation-container section {
    background: var(--secondary);
    padding: 36px;
    width: 59.5%;
    border-radius: 15px;
}

#accomodation-container section .article-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}

#accomodation-container .article-container article {
    display: flex;
    width: 30%;
    border-radius: 25px;
    background: white;
    box-shadow: 3px 3px 10px lightgrey;
    margin-bottom: 36px;
}

#accomodation-container .article-container article a {
    width: 100%;
}

#accomodation-container .article-container .article__img figure {
    margin: 0;
    padding: 0;
}

#accomodation-container .article-container .article__img img {
    width: 95%;
    height: 113px;
    padding: 6px 6px 0 6px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

#accomodation-container .article-container .article__body {
    height: 65px;
    padding: 12px 15px 0 15px;

}

#accomodation-container .article-container .article__body p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 16px;

}

#accomodation-container .article-container .article__body small {
    padding: 0;
    margin: 3px 0;
    display: inline-block;
    font-size: 13px;
    color: #444;
}

#accomodation-container .article-container .article__body ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
    color: var(--primary);
}

#accomodation-container .article-container .article__body ul li {
    margin-right: 3px;
}

#accomodation-container .load-more {
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
}

#accomodation-container aside {
    background: var(--secondary);
    padding: 36px;
    width: 26%;
    margin-right: 8px;
    border-radius: 15px;
}

#accomodation-container aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 343px;
    margin: 0 auto;
}

#accomodation-container aside header i {
    position: relative;
    bottom: 4px;
    font-size: 22px;
}

#accomodation-container aside header h2 {
    font-size: 22px;
}

#accomodation-container aside .article-container {
    max-width: 343px;
    margin: 0 auto;
}


#accomodation-container aside .article-container article {
    height: 144px;
    width: 100%;
}

#accomodation-container aside .article-container .article__img img {
    height: 132px;
    width: 126px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}

#accomodation-container aside .article-container .article__body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 112px;
    max-width: 170px;
}

#accomodation-container aside .article-container .article__body small {
    margin-top: 8px;

}

/* THIRD SECTION */
#activities h2 {
    font-size: 22px;
}

#activities .activity-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#activities .activity-container .activity-panel {
    max-width: 302px;
    width: 100%;
}

#activities .activity-container .activity-panel:nth-of-type(2),
#activities .activity-container .activity-panel:nth-of-type(4) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
}

#activities .activity-container .activity-panel article {
    box-shadow: 3px 3px 10px lightgrey;
    border-radius: 25px;
    overflow: hidden;
}

#activities .activity-container .article__img {
    width: 100%;
}

#activities .activity-container .article__body {
    height: 56px;
    margin: 0;
    padding: 0;
}

#activities .activity-container .article__body p {
    margin: 0;
    padding: 17px;
    font-weight: bold;
}

#activities .activity-container .img1 img,
#activities .activity-container .img2 img,
#activities .activity-container .img3 img,
#activities .activity-container .img4 img,
#activities .activity-container .img5 img,
#activities .activity-container .img6 img {
    width: 100%;
    object-fit: cover;
}

#activities .activity-container .img1 img,
#activities .activity-container .img4 img {
    height: 392px;
}

#activities .activity-container .img2 img {
    height: 179px;
}

#activities .activity-container .img3 img {
    height: 109px;
}

#activities .activity-container .img5 img {
    height: 139px;
}

#activities .activity-container .img6 img {
    height: 152px;
}

/* FOOTER */
.footer {
    background: var(--secondary);
    margin-top: 60px;
}

footer {
    display: flex;
    padding: 36px 0;
}

.footer-list {
    width: 33%;
    font-size: 18px;
}

.footer-list:not(:nth-of-type(1)) {
    margin-left: 32px
}

.footer-list ul {
    padding: 0;
    list-style: none;
}

.footer-list ul li {
    margin-bottom: 16px;
}

/* ADDITIONAL BREAKPOINT */
@media screen and (max-width:1160px) {

    /* FILTERS */
    .filter-container ul {
        display: flex;
        flex-flow: wrap;
    }

    .filter-container ul li:first-child {
        display: block;
        width: 100%;
    }

    .filter-container ul li:not(:first-child) {
        margin-bottom: 16px;
    }

    /* ACCOMODATION */
    #accomodation-container {
        display: flex;
        flex-flow: column;
    }

    #accomodation-container section {
        background: var(--secondary);
        padding: 36px 0;
        width: 100%;
    }

    #accomodation-container .article-container .article__body p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #accomodation-container aside {
        background: var(--secondary);
        padding: 36px 0;
        width: 100%;
        margin-right: 0;
    }

    #accomodation-container aside header {
        max-width: 100%;
    }

    #accomodation-container aside header h2 {
        font-size: 22px;
    }

    #accomodation-container aside .article-container {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
    }

    #accomodation-container aside .article-container a {
        width: 30%;
    }

    #accomodation-container aside .article-container article {
        flex-flow: column;
        height: 201px;
        width: 100%;
    }

    #accomodation-container aside .article-container .article__img img {
        height: 113px;
        width: 95%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }

    #accomodation-container aside .article-container .article__body {
        height: 1px;
    }

    #accomodation-container aside .article-container .article__body p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #accomodation-container aside .article-container .article__body small {
        margin-top: 0px;
    }

    /* THIRD SECTION */
    #activities h2 {
        font-size: 22px;
    }

    #activities .activity-container {
        display: flex;
        flex-flow: row wrap;
    }

    #activities .activity-container .activity-panel {
        margin-bottom: 36px;
        min-height: 451px;
    }
}


/* TABLET */
@media screen and (max-width:992px) {

    /* FILTERS */
    .filter-container ul {
        display: flex;
        flex-flow: wrap;
    }

    .filter-container ul li:first-child {
        display: block;
        width: 100%;
    }

    .filter-container ul li:not(:first-child) {
        margin-bottom: 16px;
    }

    /* ACCOMODATION */
    #accomodation-container {
        display: flex;
        flex-flow: column;
    }

    #accomodation-container section {
        background: var(--secondary);
        padding: 36px 0;
        width: 100%;
    }

    #accomodation-container .article-container .article__body p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #accomodation-container aside {
        background: var(--secondary);
        padding: 36px 0;
        width: 100%;
        margin-right: 0;
    }

    #accomodation-container aside header {
        max-width: 100%;
    }

    #accomodation-container aside header h2 {
        font-size: 22px;
    }

    #accomodation-container aside .article-container {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
    }

    #accomodation-container aside .article-container a {
        width: 30%;
    }


    #accomodation-container aside .article-container article {
        flex-flow: column;
        height: 201px;
        width: 100%;
    }

    #accomodation-container aside .article-container .article__img img {
        height: 113px;
        width: 95%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }

    #accomodation-container aside .article-container .article__body {
        height: 1px;
    }

    #accomodation-container aside .article-container .article__body p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #accomodation-container aside .article-container .article__body small {
        margin-top: 0px;

    }

    /* THIRD SECTION */
    #activities h2 {
        font-size: 22px;
    }

    #activities .activity-container {
        display: flex;
        flex-flow: row wrap;
    }

    #activities .activity-container .activity-panel {
        margin-bottom: 36px;
    }
}

/* MOBILE */
@media screen and (max-width:768px) {
    .container {
        padding: 0;
    }

    .main-nav {
        display: flex;
        flex-flow: column;
    }

    .main-nav__logo figure {
        margin: 20px 0;
        width: 100px;
        height: 50px;
    }

    .main-nav__nav-items {
        width: 100%;
        padding: 0;
    }

    .main-nav__nav-items li {
        padding: 18px;
        width: 50%;
        text-align: center;
    }

    .main-nav__nav-items li:hover {
        border-bottom: 3px solid var(--primary);
        border-top: none;
    }

    /* FIRST SECTION */
    .filters {
        padding: 16px 16px 0 16px;
    }

    .filters h1 {
        font-size: 22px;
    }

    .filters header p {
        font-size: 16px;
    }

    .search-form {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        width: 333px;
        height: 50px;
        align-items: center;
    }

    .search-form .btn-desktop {
        display: none;
    }

    .search-form .btn-responsive {
        display: block;
        color: white;
        font-weight: bold;
        background: var(--primary);
        border-radius: 15px;
        padding: 0 16px;
        border: none;
        padding: 16px;
        font-size: 18px;
    }

    .search-form span i {
        font-size: 18px;
    }

    .search-form input[type="text"] {
        height: 48px;
    }

    .filter-container ul {
        font-size: 16px;
    }

    .filter-container ul li:not(:first-child) {
        margin: 0 15px 16px 0;
    }

    .filter-container ul li:not(:first-child):hover a {
        color: white;
    }

    .filter-container ul li:not(:first-child) i {
        border-radius: 25px;
        padding: 15px;
        margin-right: 4px;
        color: var(--primary);
        background: var(--primary-light);
    }

    .search-info p {
        margin-left: 8px;
        font-size: 16px;
    }

    /* SECOND SECTION */
    #accomodation-container {
        display: flex;
        flex-flow: column-reverse;
    }

    #accomodation-container section {
        padding: 0;
        background: white;
        width: 100%;
    }

    #accomodation-container section header {
        font-size: 14.5px;
        padding: 0 16px;
    }

    #accomodation-container .article-container article {
        width: 100%;
        max-width: 334px;
        margin: 8px auto;
    }

    #accomodation-container .article-container article a {
        width: 100%;
    }

    #accomodation-container .article-container .article__img figure {
        margin: 0;
        padding: 0;
    }

    #accomodation-container .article-container .article__img img {
        width: 96.5%;
        height: 113px;
        padding: 6px 6px 0 6px;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }

    #accomodation-container .article-container .article__body {
        height: 65px;
        padding: 12px 10px 0 10px;
    }

    #accomodation-container .article-container .article__body p {
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 16px;
    }

    #accomodation-container .article-container .article__body small {
        padding: 0;
        margin: 6px 0;
        display: inline-block;
        font-size: 14px;
        color: #444;
    }

    #accomodation-container .article-container .article__body ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 11px;
        color: var(--primary);
    }

    #accomodation-container .article-container .article__body ul li {
        margin-right: 3px;
    }

    #accomodation-container .load-more {
        font-weight: bold;
        font-size: 18px;
        margin-left: 0px;
        padding-left: 16px;
    }

    #accomodation-most-popular header h2 {
        padding-left: 16px;
    }

    #accomodation-most-popular header i {
        padding-right: 16px;
    }

    #accomodation-container aside {
        background: var(--secondary);
        width: 100%;
    }

    #accomodation-container aside header h2 {
        font-size: 22px;
    }

    #accomodation-container aside .article-container {
        flex-flow: column;
        margin: 0 auto;
    }

    #accomodation-container aside .article-container a {
        width: 100%;
    }

    #accomodation-container aside .article-container article {
        flex-flow: row;
        height: 100%;
        min-width: 334px;
        margin: 8px auto;
    }

    #accomodation-container aside .article-container .article__img img {
        height: 130px;
        width: 125px;
        border-radius: 25px 0 0 25px;
        object-fit: cover;
    }

    #accomodation-container aside .article-container .article__body {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 105px;
        padding: 18px 16px 0 12px;
    }

    #accomodation-container aside .article-container .article__body p {
        white-space: normal;
    }

    /* THIRD SECTION */
    #activities h2 {
        font-size: 22px;
        padding: 0 16px;
    }

    #activities .activity-container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
    }

    #activities .activity-container .activity-panel {
        min-width: 334px;
        margin: 0 auto;
        width: 100%;
        min-height: 100%;
    }

    #activities .activity-container .activity-panel article {
        height: 190px;
        margin-bottom: 24px;
    }

    #activities .activity-container .article__img {
        width: 100%;
    }

    #activities .activity-container .article__body {
        height: 56px;
        margin: 0;
        padding: 0;
    }

    #activities .activity-container .article__body p {
        margin: 0;
        padding: 17px;
        font-weight: bold;
    }

    #activities .activity-container .img1 img,
    #activities .activity-container .img2 img,
    #activities .activity-container .img3 img,
    #activities .activity-container .img4 img,
    #activities .activity-container .img5 img,
    #activities .activity-container .img6 img {
        width: 100%;
        object-fit: cover;
    }

    #activities .activity-container .img1 img,
    #activities .activity-container .img4 img {
        height: 134px;
    }

    #activities .activity-container .img2 img {
        height: 134px;
    }

    #activities .activity-container .img3 img {
        height: 134px;
    }

    #activities .activity-container .img5 img {
        height: 134px;
    }

    #activities .activity-container .img6 img {
        height: 134px;
    }

    /* FOOTER */
    .footer {
        background: var(--secondary);
    }

    footer {
        display: flex;
        flex-flow: column;
        padding: 36px 0;
    }

    .footer-list {
        width: 100%;
        padding-left: 16px;
    }

    .footer-list:not(:nth-of-type(1)) {
        margin-left: 0px
    }

    .footer-list ul {
        padding: 0;
        list-style: none;
    }

    .footer-list ul li {
        margin-bottom: 16px;
    }
}