@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap');

:root {
    --primary: #0065FC;
    --primary-light: #DEEBFF;
    --secondary: #F2F2F2;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

.p-16 {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

/* UTILITY */
.grey-color {
    color: lightgrey;
}


/*
/////////////////////////////////////////////////
/////////////////////////////////////////////////
*/

/* MAIN NAV */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    text-align: center;
}

.main-nav__logo img {
    max-height: 50px;
    position: relative;
    left: 45px;
}

.main-nav__nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
}

.main-nav__nav-items li {
    display: block;
    width: 100%;
    padding: 25px 18px;
    width: 150px;
}

.main-nav__nav-items li:hover {
    border-top: 3px solid var(--primary);
   
    padding: 25px 18px;
}

.main-nav__nav-items li a {
    text-decoration: none;
    color: black;
}

.main-nav__nav-items li:hover a {
    color: var(--primary)
}


/* SEARCH FORM */
.search-form {
    position: relative;
    height: 36px;
}

.search-form i,
.search-form input,
.search-form button {
    position: absolute;
}

.search-form span {
    position: relative;
    background: var(--secondary);
    top: 1px;
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 12px 0 0 12px;
    z-index: 1;
}

.search-form span i {
    padding: 12px;
    margin: 3px 3px;
    display: block;
}

.search-form input[type="text"] {
    left: 40px;
    top: 1.2px;
    height: 38px;
    padding: 1px 8px;
    border: 1px solid var(--secondary);
    font-weight: bold;
}

.search-form input[type="text"]::placeholder {
    color: black;
}
.search-form input[type="submit"].btn-desktop {
    display: inline-block;
    left: 225px;
    top: 1px;
    padding: 12px;
    border-radius: 0 12px 12px 0;
    background: var(--primary);
    border: none;
    color: white;
    font-weight: bold;
}

.search-form button.btn-responsive {
    display: none;
}

/* FILTER CONTAINER */
.filter-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style: none;
}


.filter-container ul li:not(:first-child) {
   padding: 0 12px 0 0;
    margin: 8px 8px 8px 36px;
    border: 1px solid lightgrey;
    border-radius: 25px;
}
.filter-container ul li:not(:first-child):hover {
    background: var(--primary);
}
.filter-container ul li:not(:first-child):hover a {
    color: white;
}
.filter-container ul li:not(:first-child) i {
    padding: 12px;
    border-radius: 25px;
    background: var(--primary-light);
    color: var(--primary);
    margin-right: 8px;
}

.filter-container ul li:not(:first-child) a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.search-info {
    display: flex;
    align-items: baseline;
}

.search-info i {
    padding: 4px 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: var(--primary);
    margin-right: 8px;
}
.search-info p{
    font-size: 16px;
}

 /* ACCOMODATION */
 #accomodation-container {
    display: flex;
    justify-content: space-between;
}
#accomodation-container section { 
    background: var(--secondary);
    width: 62%;
    padding: 16px;
    margin: 0;
}

#accomodation-container section .article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#accomodation-container section article {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 25px;
    margin: 12px;
    box-shadow: 0px 0px 10px 2px lightgray;
    width: 29.8%;
}
#accomodation-container section .article__img figure {
    margin: 0;
    width: 100%;
   
}
#accomodation-container section .article__img img {
    width: 100%;
    height: 190px;
    border-radius: 25px 25px 0 0;
    object-fit:fill;
}
#accomodation-container section .article__body {
    margin: 8px;
}
#accomodation-container section .article__body .rating {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
    color: var(--primary);
}




/* ACCOMODATION MOST POPULAR*/
#accomodation-container aside {
    width: 31%;
    padding: 16px;
    background: var(--secondary);
}

#accomodation-container aside .article-container a article img {
    width: 145px;
    height: 145px;
}

/* ACTIVITIES */
#activities .activity-container {
    display: flex;
}

/*
/////////////////////////////////////////////////
/////////////////////////////////////////////////

*/