@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap');

:root {
    --primary: #0065FC;
    --primary-light: #DEEBFF;
    --secondary: #F2F2F2;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

.p-16 {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

/* UTILITY */
.grey-color {
    color: lightgrey;
}

/* MAIN NAV */
.main-nav {
    text-align: center;
}

.main-nav__logo img {
    position: relative;
    left: 45px;
}

.main-nav__nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid lightgrey;
}

.main-nav__nav-items li:hover {
    border-bottom: 3px solid var(--primary);
}

.main-nav__nav-items li {
    display: block;
    width: 100%;
    padding: 25px 18px;
}

.main-nav__nav-items li a {
    text-decoration: none;
    color: black;
}

.main-nav__nav-items li:hover a {
    color: var(--primary)
}
/* FIRST SECTION */
.first-section h1{
    font-size: 22px;;
}
/* SEARCH FORM */
.search-form {
    position: relative;
    height: 36px;
    width:334px;
}

.search-form i,
.search-form input,
.search-form button {
    position: absolute;
}

.search-form span {
    position: relative;
    background: var(--secondary);
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 12px 0 0 12px;
    z-index: 1;
}

.search-form span i {
    padding: 12px;
    margin: 3px 3px;
    display: block;
}

.search-form input[type="text"] {
    left: 40px;
    top: 1.2px;
    height: 38px;
    padding: 1px 8px;
    border: 1px solid var(--secondary);
    font-weight: bold;
    width:235px
}

.search-form input[type="text"]::placeholder {
    color: black;
}


.search-form input[type="submit"].btn-desktop {
    display: none;
}

.search-form button.btn-responsive {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 280px;
    top: 2px;
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 12px;
    background: var(--primary);
    border: none;
}

.search-form button.btn-responsive i {
    color: white;
}

/* FILTER CONTAINER */
.filter-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style: none;
}

.filter-container ul li:first-child {
    width: 100%;
}

.filter-container ul li:not(:first-child) {
    padding: 0 12px 0 0;
    margin: 8px 28px 8px 0px;
    border: 1px solid lightgrey;
    border-radius: 25px;
}

.filter-container ul li:not(:first-child):hover {
    background: var(--primary);
}

.filter-container ul li:not(:first-child):hover a {
    color: white;
}

.filter-container ul li:not(:first-child) i {
    padding: 12px;
    border-radius: 25px;
    background: var(--primary-light);
    color: var(--primary);
    margin-right: 8px;
}

.filter-container ul li:not(:first-child) a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.search-info {
    display: flex;
    align-items: baseline;
}

.search-info i {
    padding: 4px 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: var(--primary);
    margin-right: 8px;
}

/* ACCOMODATION */
#accomodation-container {
    display: flex;
    flex-flow: column-reverse;
}

#accomodation-container section {
    padding: 16px;
    margin: 0;
    width: 334px;
}
#accomodation-container section header h2{
    font-size: 22px;
}

#accomodation-container section article {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px lightgray;
    width: 100%;
    margin: 16px 0;
    height: 199px;
    padding-bottom: 16px;
}

#accomodation-container section .article__img img {
    width: 97%;
    height: 119px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    margin: 5px;
}

#accomodation-container section .article__body {
    margin: 0 0 8px 8px;
}

#accomodation-container section .article__body .rating {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
    color: var(--primary);
}

#accomodation-container section .article__body {
    margin: 8px;
}

#accomodation-container section .article__body p {
    font-size: 16px;
    font-weight: bold;
}

#accomodation-container section .article__body small {
    font-size: 14px;

}

#accomodation-container section .article__body p,
#accomodation-container section .article__body small {
    margin: 4px;
}

/* ACCOMODATION MOST POPULAR*/
#accomodation-container aside {
    width: 100%;
    background: var(--secondary);
}

#accomodation-container aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
#accomodation-container aside header h2 {
    font-size: 22px;
}

#accomodation-container aside .article-container {
    padding: 0 16px;
}

#accomodation-container aside .article-container article {
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px lightgray;
    font-size: 12px;
    margin: 24px 5px;
    height: 144px;
}

#accomodation-container aside .article-container article .article__body {
    min-width: 50%;
    padding: 16px 8px ;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}



#accomodation-container aside .article__body p,
#accomodation-container aside .article__body small {
    margin: 2px;
    width: 110px;
    font-size: 10px;
}
#accomodation-container aside .article__body p {
    font-weight: bold;
    font-size: 12px;
}
#accomodation-container aside .article-container article .article__body .rating {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
    color: var(--primary);
}

#accomodation-container aside .article-container a article img {
    display: flex;
    width: 132px;
    height: 134px;
    border-radius: 25px 0 0 25px;
    padding: 5px;
    object-fit: cover;
}

#accomodation-container .load-more {
    font-weight: bold;
}

/* ACTIVITIES */
#activities header h2 {
    font-size: 23px;
}
#activities .activity-container .activity-panel article {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px lightgray;
   margin: 24px auto;
}

#activities .activity-container .activity-panel article .article__body {
    margin: 0px 16px;
    font-weight: bold;
    font-size: 12px;
}

#activities img {
    width: 100%;
    height: 134px;
    object-fit:cover;
}

/* FOOTER */
footer {
    background: var(--secondary);
    margin-top: 32px;
    padding: 16px 0;
}

footer p {
    font-weight: bold;
}

footer ul {
    padding: 0;
    list-style: none;
    font-size: 14px;
}

footer .footer-list:not(:last-child) {
    margin-bottom: 48px;
}

footer ul li {
    margin: 8px 0;
}

/* TABLET */
@media (min-width: 768px) {

    /* MAIN NAV */
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 100px;
    }

    .main-nav__logo img {
        max-height: 50px;
        left: 0;
    }

    .main-nav__nav-items {
        border-bottom: none;
    }

    .main-nav__nav-items li {
        width: 150px;
    }

    .main-nav__nav-items li:hover {
        border-top: 3px solid var(--primary);
        border-bottom: none;
    }

    /* SEARCH FORM */
    .search-form input[type="submit"].btn-desktop {
        display: inline-block;
        left: 225px;
        top: 1px;
        padding: 12px;
        border-radius: 0 12px 12px 0;
        background: var(--primary);
        border: none;
        color: white;
        font-weight: bold;
    }

    .search-form button.btn-responsive {
        display: none;
    }

    /* FILTER CONTAINER */
    .filter-container ul li:first-child {
        max-width: 60px;
    }

    .filter-container ul li:not(:first-child) {
        padding: 0 12px 0 0;
        margin: 12px 24px;
        border: 1px solid lightgrey;
        border-radius: 25px;
    }

    /* ACCOMODATION */
    #accomodation-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    #accomodation-container section {
        width: 61%;
        background: var(--secondary);
        padding: 16px;
    }

    #accomodation-container aside {
        width: 31%;
        background: var(--secondary);
        padding: 16px;
    }

    #accomodation-container section .article-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #accomodation-container section article {
        margin: 12px;
        box-shadow: 0px 0px 10px 2px lightgray;
        width: 43%;
    }

    #accomodation-container section .article__img img {
        width: 100%;
        height: 150px;
        border-radius: 25px 25px 0 0;
    }

    /* ACCOMODATION MOST POPULAR*/
    #accomodation-container aside {
        width: 31%;
        background: var(--secondary);
        padding: 16px;
    }

    #accomodation-container aside header {
        padding: 0 8px;
    }

    #accomodation-container aside .article-container {
        padding: 0px;
    }

    #accomodation-container aside .article-container article {
        display: flex;
        width: 100%;
        border-radius: 25px;
        box-shadow: 0px 0px 10px 2px lightgray;
        font-size: 12px;
        margin: 24px 0;
    }

    #accomodation-container aside .article-container article .article__body {
        min-width: 50%;
        padding: 8px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    #accomodation-container aside .article__body p,
    #accomodation-container aside .article__body small {
        margin: 2px;
        max-width: 100%;
    }

    #accomodation-container aside .article-container a article img {
        width: 110px;
        height: 110px;
    }

    /* ACTIVITIES */
    #activities .activity-container .activity-panel {
        display: flex;
    }

    #activities .activity-container .activity-panel>article {
        width: 50%
    }

    #activities .activity-container .activity-panel>.activity-aside {
        width: 50%
    }


    #activities .activity-container .activity-panel .activity-aside {
        height: 50%;
    }

    #activities .activity-container .activity-panel .activity-aside {
        height: 50%;
    }

    #activities .activitiy-container article {
        display: flex;
        background: grey;
        margin: 32px;
        padding: 8px;
    }

    #activities img {
        width: 100%;
        height: 365px;
    }
    
    #activities .activity-aside img {
        width: 100%;
        height: 165px;
    }
    .custom-height-img-2 {
        height: 179px !important;
    }
    
    .custom-height-img-3 {
        height: 109px !important;
    }
    .custom-height-img-5 {
        height: 139px !important;
    }
    .custom-height-img-6 {
        height: 153px !important;
    }

    /* FOOTER */
    footer {
        display: flex;
    }

    footer .footer-list {
        width: 33%;
    }




}



/* DESKTOP */
@media (min-width: 992px) {

    /* ACCOMODATION */
    #accomodation-container {
        display: flex;
        justify-content: space-between;
    }

    #accomodation-container section {
        width: 64%;
    }

    #accomodation-container section .article-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #accomodation-container section article {
        max-width: 28%;
    }

    #accomodation-container section .article__img img {
        width: 100%;
        height: 150px;
        border-radius: 25px 25px 0 0;
    }

    #accomodation-container section .article__body {
        margin: 0 0 8px 8px;
    }

    /* ACCOMODATION MOST POPULAR*/
    #accomodation-container aside {
        width: 28%;
    }

    #accomodation-container aside .article-container a article img {
        width: 145px;
        height: 145px;
    }

    /* ACTIVITIES */
    #activities .activity-container {
        display: flex;
    }
    /* .custom-height-img-3 {
        height: 120px !important;
    } */

}